footer
    .container
        .footer
            .contact-us
                a(href='')
                    i.ph-duotone.ph-telegram-logo
                a(href='')
                    i.ph-duotone.ph-envelope-simple
                a(href='')
                    i.ph-duotone.ph-phone
                a(href='')
                    i.ph-duotone.ph-github-logo
            a(href='')
                img.logo-header(src='/public/img/logo-no-background.png', alt='Random Stuff Shop Logo')
                // <p>Random Stuff Shop</p>
            .additional-info
                p Project Documentation