header.header
    a(href='/')
        img.logo-header(src='/public/img/logo-no-background.png', alt='Random Stuff Shop Logo')
    nav.main-nav
        ul.main-nav__list
            li
                form#search-form(action='/')
                    input#search-input.search-input(type='text', placeholder='Type a product name')
                    button.search-btn
                        ion-icon.search-icon(name='search')
            li
                a.main-nav__link(href='') Sign Up
            li
                a.main-nav__link(href='') Log In
            li
                a.main-nav__link(href='') All Products
            li
                a.main-nav__link(href='') About