extends index

block content
    main
        section.section-hero
            .hero
                .hero-text-box
                    h1.heading-primary Random Stuff Shop
                    p.hero-description Not a great project at all, which was created for learning purposes only.
                    a.hero-btn.btn(href='')
                        span Our Best Sellers
        section.best-sellers
            .container
                p.subheading Best Sellers
                h2.heading-secondary Our most popular products based on sales
                .products
                    each product in products
                        .product
                            a(href=`/product/${product.slug}`).product-info
                                img.product-img(src='https://cdn.shopify.com/s/files/1/0072/1432/products/random-house-books-how-to-talk-to-your-cat-about-gun-safety-book-funny-gag-gifts-17273580421281.jpg?v=1628348684&width=300', alt='')
                                h3.product-title.heading-tertiary #{product.title}
                                p.product-desc #{product.summary}
                            if user     
                                button.product-btn $#{product.price} &dash; Add to bag
                            else
                                button.product-btn-redirect Check it out
        