extends index 

block content
    section.section-sc
        .container
            p.subheading Shopping Cart
            h2.heading-secondary I don&apos;t know just some text
            .sc-container
                .sc-info-container
                    .sc-info
                        p.sc-info__total-price
                            | Total Price: 
                            span $10
                        p.sc-info__discount
                            | Discount: 
                            span $0
                        p.sc-info__final-price
                            | Final Price: 
                            span $10
                    button.check-out-btn.btn Check Out
                .sc-products
                    ul.sc-products-list
                        li.sc-product
                            img.sc-product__img(src='' alt='')
                            h3.heading-tertiary Some Product
                            p.sc-product__price $10
                            .amount
                                i.ph-fill.ph-arrow-square-left.arrow
                                input#amount(type='number' min='0' max='99' maxlength='2' value='1' placeholder='1')
                                i.ph-fill.ph-arrow-square-right.arrow
                            p.sc-product__total $10
                            button.sc-product__btn
                                ion-icon(name='close-outline')