/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Bold: 700

- Line heights
Default: 1

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* @keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa,
      0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
} */

:root {
  --purple: #ff45d0;
  --sky: #0fe;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 40px #e7f5ff, 0 0 80px #e7f5ff, 0 0 90px #e7f5ff, 0 0 100px #e7f5ff, 0 0 150px #e7f5ff;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 40px var(--purple), 0 0 80px var(--purple), 0 0 90px var(--purple), 0 0 100px var(--purple),
      0 0 150px var(--purple);
  }
  0% {
    text-shadow: 0 0 10px var(--purple), 0 0 45px var(--purple), 0 0 55px var(--purple), 0 0 70px var(--purple),
      0 0 80px var(--purple);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  animation: pulsate 3s infinite alternate;
  outline: none;
}

*::placeholder {
  color: var(--purple);
  opacity: 0.75;
}

input:focus {
  animation: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: #000;
}

section {
  margin: 9.6rem 0;
}

.container {
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: 1px;
}

.heading-primary {
  color: var(--sky);
  font-size: 5.2rem;
  margin-bottom: 1.6rem;
  text-decoration: underline;
  text-underline-offset: 1.2rem;
}

.heading-secondary {
  color: var(--sky);
  font-size: 3.6rem;
  margin-bottom: 6.4rem;
  text-align: center;
}

.heading-tertiary {
  color: var(--purple);
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.subheading {
  color: var(--purple);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.6rem;
  animation: pulsate 3s infinite alternate;
  margin-bottom: 1rem;
}

/* .btn {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  color: var(--purple);
  background-color: #000;
  padding: 0.8rem 1.2rem;
  border: none;
  box-shadow: 0 0 0.2rem var(--purple), 0 0 0.2rem var(--purple), 0 0 2rem var(--purple), inset 0 0 0.8rem var(--purple);
  cursor: pointer;

  margin-top: 1.2rem;

  transition: all 0.3s ease;
} */
.btn {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  color: var(--purple);
  background-color: #000;
  padding: 0.8rem 1.2rem;
  border: 1px solid var(--purple);
  box-shadow: 0 0 5px var(--purple), 0 0 5px var(--purple) inset;
  cursor: pointer;

  margin-top: 1.2rem;

  transition: all 0.3s ease;
  z-index: 2;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.btn:after {
  position: absolute;
  content: ' ';
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #000;
}

.btn:hover:after {
  background: var(--purple);
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 1), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 1), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

.tab {
  display: none;
}

.tab--active {
  display: block;
}
