/*HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo-header {
  width: 18rem;
}

.main-nav__list {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.main-nav__link {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--purple);
}

#search-form {
  display: flex;
  justify-content: center;
}

#search-form::after {
  margin-left: 2rem;
  content: '';
  border-right: 0.2rem solid var(--sky);
}

.search-input {
  border: none;
  background-color: #000;
  color: var(--sky);
  font-size: 2rem;
}

.search-input:focus {
  text-decoration: none;
}

.search-input::placeholder {
  color: var(--sky);
  font-size: 1.4rem;
  text-transform: uppercase;
  opacity: 0.6;
  letter-spacing: 0.2rem;
}

.search-btn {
  background-color: #000;
  display: grid;
  justify-content: center;
  align-items: center;
  border: none;
}

.search-icon {
  color: var(--sky);
  font-size: 3rem;
  cursor: pointer;
}

/*HERO*/
.hero {
  background-image: url('/public/img/Untitled\ Project.jpg');
  background-size: cover;
  background-position: 0rem -30rem;
  height: 95vh;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 16rem;
}

.hero-text-box {
  text-align: center;
}

.hero-description {
  color: var(--purple);
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
}

.hero-btn {
  padding: 1.2rem 1.2rem;
}

/*BESTSELLERS*/

.best-sellers {
  margin-bottom: 9.8rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-row-gap: 6.4rem;
}

.product {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid var(--sky);
  /* border-radius: 2rem; */
  box-shadow: 0 0 0.2rem var(--sky), 0 0 0.2rem var(--sky), 0 0 2rem var(--sky), inset 0 0 0.8rem var(--sky);
}

.product-info {
  padding: 2.4rem;
}

.product-img {
  margin-bottom: 2.4rem;
  /* border-radius: 2rem; */
}

.product-desc {
  color: var(--sky);
  font-size: 2rem;
}

.product-btn {
  color: var(--purple);
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 1.4rem;
  border-top: 0.2rem solid var(--purple);
  box-shadow: 0 -0.3rem 0.5rem 0 var(--purple);

  transition: all 0.3s ease;
  z-index: 2;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.product-btn:after {
  position: absolute;
  content: ' ';
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.product-btn:hover {
  color: #000;
}

.product-btn:hover:after {
  background: var(--purple);
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 1), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 1), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

/*Filter*/
.all-products {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.catalog-filter {
  margin: 0 auto;
}

#catalog-filter-form {
  margin-top: 12.8rem;
  display: flex;
  flex-direction: column;
}

#catalog-filter-form input,
select {
  padding: 0.4rem 0.8rem;
  width: 20rem;
  appearance: none;
  -webkit-appearance: none;
  background-color: #000;
  cursor: pointer;
  border: 1px solid var(--sky);
  box-shadow: 0 0 5px var(--sky), 0 0 5px var(--sky) inset;
  margin-bottom: 1.6rem;
  color: var(--purple);
}

.on-sale {
  margin-bottom: 0.8rem;
  display: flex;
  /* align-items:  center; */
  gap: 1.6rem;
}

.on-sale #checkbox {
  transform: translateY(10%);
  width: 1.6rem;
  height: 1.6rem;
}

.on-sale #checkbox:checked {
  background-color: var(--purple);
}

/*logIn*/
.section-login,
.section-signup {
  height: 75vh;
  display: flex;
  align-items: center;
}

.login,
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forgot-password {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  /* letter-spacing: 0.1rem; */
  color: var(--sky);
}

/*Product Detail Page*/

.product-detail-card {
  padding-top: 8rem;
  max-width: 140rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.8rem;
  align-items: center;
}

.product-detail-card img {
  display: block;
  width: 100%;
}

.product-imgs {
  display: flex;
  flex-direction: row-reverse;
  gap: 2.4rem;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
}

.img-select {
  display: flex;
  flex-direction: column;
}

.img-item {
  margin: 0.4rem;
}

.img-item:hover {
  opacity: 0.8;
}

.product-price {
  display: flex;
  gap: 2.4rem;
  font-size: 3.2rem;
  color: var(--purple);
  margin-bottom: 2.4rem;
}

.old-price {
  text-decoration: line-through;
  text-decoration-color: var(--sky);
  text-decoration-thickness: 0.2rem;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.product-rating-container i {
  font-size: 2.4rem;
  color: var(--purple);
}

.product-rating {
  margin-left: 0.8rem;
  font-size: 2.4rem;
  transform: translateY(10%);
  color: var(--sky);
}

.product-full-desc {
  font-size: 2.4rem;
  color: var(--sky);
  margin-bottom: 2.4rem;
}

.purchase-info {
  display: flex;
  align-items: center;
}

#amount {
  background-color: #000;
  color: var(--purple);
  padding: 0.4rem 0.8rem;
  font-size: 2.4rem;
  width: 4.8rem;
  border: none;
  box-shadow: 0 0 0.2rem var(--purple), 0 0 0.2rem var(--purple), 0 0 2rem var(--purple), inset 0 0 0.8rem var(--purple);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  text-align: center;
}

.amount {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.arrow {
  color: var(--purple);
  font-size: 3.2rem;
  cursor: pointer;
}

.add-to-cart-btn {
  margin-left: 2.4rem;
  transform: translateY(-15%);
}

.section-reviews {
  margin: 0 auto;
  margin-top: 9.6rem;
  margin-bottom: 9.6rem;
  max-width: 140rem;
}

.review-order {
  margin-bottom: 3.2rem;
}

.review-order #orderby {
  margin-left: 2.4rem;
}

.all-reviews {
  max-width: 140rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.reviews-container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  gap: 2.4rem;
  overflow: hidden;
}

.review {
  min-width: 33%;
}

.review-rating i {
  color: var(--purple);
  font-size: 1.6rem;
}

.review-rating {
  margin-bottom: 2.4rem;
}

.review-text {
  font-size: 2rem;
  color: var(--sky);
}

/*Footer*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.2rem 0;
}

.footer p {
  font-size: 3rem;
  text-transform: uppercase;

  /* animation: flicker 3s infinite alternate; */

  /* border: 0.2rem solid #fff;
  border-radius: 2rem; */
  padding: 1.4rem;
  /* box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--sky), 0 0 0.8rem var(--sky), 0 0 2.8rem var(--sky),
  inset 0 0 1.3rem var(--sky); */
  color: var(--purple);
}

.contact-us {
  display: flex;
  gap: 2.4rem;
}

.ph-duotone {
  color: var(--sky);
  font-size: 3.6rem;
}

/*Account Page*/
.section-mypage {
  height: 75vh;
}

.account-page {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.tabs button {
  color: var(--purple);
  background-color: #000;
  border: none;
  border-bottom: 0.1rem solid var(--sky);
  padding: 0.8rem 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.tab {
  justify-self: center;
}

#settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
