/*HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.header p {
  font-size: 3rem;
  text-transform: uppercase;

  color: #d0ebff;
  animation: flicker 3s infinite alternate;

  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 1.4rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d0ebff, 0 0 0.8rem #d0ebff, 0 0 2.8rem #d0ebff,
    inset 0 0 1.3rem #d0ebff;
}

.main-nav__list {
  display: flex;
  gap: 2.4rem;
}

.main-nav__link {
  font-size: 3rem;
  text-transform: uppercase;
  color: #e7f5ff;
}

/*HERO*/
.hero {
  background-image: url('/public/img/hero-img.jpg');
  background-size: cover;
  background-position: top;
  height: 95vh;
  display: grid;
  grid-template-rows: 1fr 2.5fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 16rem;
}

.hero-text-box {
  text-align: center;
}

.hero-description {
  font-size: 2.4rem;
}

/*BESTSELLERS*/

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.product {
  max-width: 35rem;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d0ebff, inset 0 0 0.8rem #d0ebff;
}

.product-img {
  margin-bottom: 2.4rem;
  border-radius: 2rem;
}

.product-desc {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.product-btn {
  color: #d0ebff;
  font-size: 2.4rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 1.4rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d0ebff, 0 0 0.8rem #d0ebff, 0 0 2.8rem #d0ebff,
    inset 0 0 1.3rem #d0ebff;
}
