/*HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
  border-bottom: 0.2rem solid #0fe;
  border-top: 0.2rem solid #0fe;
  /* box-shadow: 0 -0.2rem 0.2rem #0fe, 0 -0.2rem 0.2rem #0fe, 0 -0.2rem 2rem #0fe, inset 0 -0.2rem 0.8rem #0fe; */
}

.logo-header {
  width: 18rem;
}

.header p {
  font-size: 3rem;
  text-transform: uppercase;

  color: #d0ebff;
  animation: flicker 3s infinite alternate;

  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 1.4rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d0ebff, 0 0 0.8rem #d0ebff, 0 0 2.8rem #d0ebff,
    inset 0 0 1.3rem #d0ebff;
}

.main-nav__list {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.main-nav__link {
  font-size: 3rem;
  text-transform: uppercase;
  color: #ff45d0;
}

#search-form {
  display: flex;
  justify-content: center;
  margin-left: 2.4rem;
}

#search-form::after {
  margin-left: 2rem;
  content: '';
  border-right: 0.2rem solid #0fe;
  animation: flicker 3s infinite alternate;
}

.search-input {
  border: none;
  background-color: #000;
  color: #0fe;
  font-size: 2rem;
}

.search-input:focus {
  text-decoration: none;
}

.search-input::placeholder {
  color: #0fe;
  font-size: 1.4rem;
  text-transform: uppercase;
  opacity: 0.6;
  letter-spacing: 0.2rem;
}

.search-btn {
  background-color: #000;
  display: grid;
  justify-content: center;
  align-items: center;
  border: none;
}

.search-icon {
  color: #0fe;
  font-size: 3rem;
  cursor: pointer;
}

/*HERO*/
.hero {
  background-image: url('/public/img/Untitled\ Project.jpg');
  background-size: cover;
  background-position: 0rem -30rem;
  height: 95vh;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 16rem;
}

.hero-text-box {
  text-align: center;
}

.hero-description {
  color: #ff45d0;
  font-size: 2.4rem;
}

/*BESTSELLERS*/

.best-sellers {
  margin-bottom: 9.8rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.product {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid #0fe;
  /* border-radius: 2rem; */
  box-shadow: 0 0 0.2rem #0fe, 0 0 0.2rem #0fe, 0 0 2rem #0fe, inset 0 0 0.8rem #0fe;
}

.product-info {
  padding: 2.4rem;
}

.product-img {
  margin-bottom: 2.4rem;
  /* border-radius: 2rem; */
}

.product-desc {
  color: #0fe;
  font-size: 2rem;
}

.product-btn {
  color: #ff45d0;
  font-size: 2.4rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  border-top: 0.2rem solid #ff45d0;
  /* border-radius: 2rem; */
  padding: 1.4rem;
  /* box-shadow: 0 -0.2rem 0.2rem #ff45d0, 0 -0.2rem 0.2rem #ff45d0, 0 -0.2rem 2rem #ff45d0, 0 -0.2rem 0.8rem #ff45d0,
    0 -0.2rem 2.8rem #ff45d0, inset 0 -0.2rem 1.3rem #ff45d0; */
  box-shadow: 0 -0.3rem 0.5rem 0 #ff45d0;
}

/*Filter*/
.all-products {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#category,
#orderby {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  cursor: pointer;
  background-color: #000;
  border: 0rem solid #000;
  color: #ff45d0;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
}

/*Footer*/
.footer {
  display: flex;
  justify-content: ce;
  align-items: center;
}

.footer p {
  font-size: 3rem;
  text-transform: uppercase;

  /* animation: flicker 3s infinite alternate; */

  /* border: 0.2rem solid #fff;
  border-radius: 2rem; */
  padding: 1.4rem;
  /* box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0fe, 0 0 0.8rem #0fe, 0 0 2.8rem #0fe,
    inset 0 0 1.3rem #0fe; */
}

.contact-us {
  display: flex;
  gap: 2.4rem;
}

.ph-duotone {
  color: #0fe;
  font-size: 3.6rem;
}
